@use '../../0-global/variables' as *;

.app {
  position: relative;
  height: calc(100vh - 40px);
  background:
    url('./hills-1.svg') repeat-x 0 100vh / 100%,
    url('./hills-2.svg') repeat-x 0 100vh / 80%,
    url('./hills-3.svg') repeat-x 0 100vh / 115%;
  // transition: background-position 3s ease-out 1s;
  will-change: background-position;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    transition: background-position 4s cubic-bezier(0, .5, .7, 1);
    width: 100vw;
    height: 400vh;
    z-index: -1;
    background: radial-gradient(
      ellipse 300% 50% at 50% 100%,
      #90b8db 0%,
      #3e8ce6 40%,
      #3f91f0 50%,
      #80b3ee 60%,
      #caebe8 90%,
      $color-white 100%) no-repeat 0 100vh / 100%;
  }

  @media (prefers-dark-interface) {
    &::before {
      background: radial-gradient(
        ellipse 300% 50% at 50% 100%,
        #202a33 0%,
        #0d2d52 40%,
        #07192e 50%,
        #101924 60%,
        #101616 90%,
        $color-black 100%) no-repeat 0 100vh / 100%;
    }

    .window {
      .window__content {
        background-color: #101924;
        color: $color-white;

        a {
          color: $color-white;
        }
      }
    }
  }

  @media screen and (max-width: 760px) {
    overflow-y: scroll;
    height: 100%;
    background-position: 0 0, 0 0, 0 0;
    padding-bottom: 16px;

    &::before {
      top: 0;
      height: 100%;
      background-position: 0 0 !important;
      background: radial-gradient(
        ellipse 300% 50% at 50% 100%,
        #90b8db 0%,
        #3e8ce6 40%,
        #3f91f0 50%) no-repeat 0 0 / 100%;  
    }
  }

  &.initializing {
    &::before {
      background-position: 0 -300vh;
    }
  }

  &.initialized {
    &::before {
      background-position: 0 -300vh;
      transition: none;
    }
  }
}
