@use '../../0-global/variables' as *;

.toolbar {
  width: 100vw;
  height: 40px;
  background:
    linear-gradient(rgba(99, 150, 173, 0.2) 0%, rgba(13, 144, 219, 0.1) 30%),
    #00151f;
  display: flex;
  gap: 4px;
  padding: 4px 24px 4px 60px;
  position: relative;
  z-index: 10;

  @media screen and (max-width: 760px) {
    width: 200%;
    display: none;
  }

  button {
    cursor: pointer;
    background: 
      linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1) 30%),
      rgb(0, 47, 90);
    border: none;
    border-radius: 8px;
    color: $color-white;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 4px 12px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus-within {
      background:
        linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 40%),
        rgb(0, 70, 136);
    }

    &:active {
      background:
        linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 60%),
        rgb(0, 28, 53);
    }

    svg {
      fill: $color-white;
      width: 14px;
      margin-right: 8px;
    }

    &.toolbar__main {
      position: absolute;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      left: 5px;
      bottom: 5px;
      padding: 8px;

      svg {
        width: 24px;
        margin-right: 0;
      }
    }
  }
}
