@use '../../0-global/variables' as *;

.window {
  position: absolute;
  resize: none;
  transition: top 3s ease-out 0.75s;
  top: 110%;
  border: 4px solid rgba(0, 19, 71, 0.8);
  border-top: none;
  border-radius: 4px;
  width: 620px;
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  overflow: hidden;
  padding-bottom: 24px;

  @media screen and (max-width: 760px) {
    left: 16px !important;
    top: 16px !important;
    width: calc(100% - 32px) !important;
    height: 400px !important;
    position: relative;
    margin-bottom: 16px;
  }

  &.initializing {
    top: 16px;
  }

  &.initialized {
    top: 16px;
    transition: none;
  }

  &.active {
    z-index: 2;
    border: 4px solid rgba(0, 19, 71, 0.95);
    border-top: none;

    .window__top {
      font-weight: 600;
      background: linear-gradient(125deg, transparent 65%, rgba(255, 255, 255, 0.2) 72%, transparent 78%, rgba(255, 255, 255, 0.1) 83%, transparent 90%), rgba(0, 19, 71, 0.95);
    }
  }

  &.maximized {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;

    .window__max-min svg {
      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        display: block;
      }
    }
  }

  &.hidden {
    display: none;

    @media screen and (max-width: 760px) {
      display: block;
    }
  }

  .window__top {
    background: linear-gradient(125deg, transparent 65%, rgba(255, 255, 255, 0.2) 72%, transparent 78%, rgba(255, 255, 255, 0.1) 83%, transparent 90%), rgba(0, 19, 71, 0.8);
    height: 24px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: $color-white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: grab;

    span {
      display: block;
      flex-grow: 1;
    }
  }

  .window__button {
    cursor: pointer;
    width: 48px;
    height: 24px;
    margin: 0;
    border: none;
    border-left: 2px solid rgba(97, 97, 97, 0.4);
    border-right: 2px solid rgba(97, 97, 97, 0.4);
    background: transparent;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    padding: 5px;
    transition: all 0.2s ease-in-out;

    svg {
      fill: $color-white;
    }

    &:hover,
    &:focus-within {
      background: linear-gradient(rgba(228, 228, 228, 0.3), rgba(228, 228, 228, 0.1) 50%);
    }
  }

  .window__max-min {
    border-right: none;

    svg {
      &:first-of-type {
        display: block;
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  .window__close {
    &:hover,
    &:focus {
      background: linear-gradient(rgba(240, 111, 111, 0.9), rgba(197, 61, 61, 0.7) 50%);
    }
  }

  .window__content {
    background-color: $color-white;
    overflow-y: scroll;
    height: 100%;

    img {
      width: 100%;
      max-width: 320px;
      object-fit: cover;
    }

    figcaption {
      color: #555;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px;
    }
  }

  .window__base {
    padding: 24px;
  }

  .window__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
  }

  ul {
    margin: 0;
  }

  .resizer {
    position: absolute;
    background: transparent;
    z-index: 10;
  }

  .resizer--right {
    right: 0;
    top: 0;
    width: 6px;
    height: 100%;
    cursor: ew-resize;
  }

  .resizer--bottom {
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    cursor: ns-resize;
  }  
}